language: node_js

cache:
  yarn: true
notifications:
  email: true

node_js:
- 8

script:
- yarn lint
- yarn build

branches:
  except:
  - gh-pages

deploy:
- provider: npm
  email: uma.karimov@gmail.com
  api_key:
    secure: rxGtROJ/0hZcIfmO0Q+FC3N0GFLhO37H7QkFlDF12NlIBiYw00zYcSY/14hB5ogtffpi6a67GD8JkNvZICZswrBFEIoKIR3k9oS+TC+pA3fmWZTdUanw6tllb958ihpEgddOde67xAqkYLE0fdyRz7k1oP2lPBhkPRx7W1X9m5Dt+aPoxdm+tiRs9hrJRQ9CEcr8jmcmYDJ+KMiCGowniQjyz2JFRBUgMue9vwDBzhVpMosI6IwHo8TY9cD0mksPOx8VaEf2LFybtNZ/meykWJiS2lGikvuzI5OOJ4i7ZNpwY5a7ICZe1h11iY17KWPsC2YP6I6IIzqEayMVviI2jXx0DdkJBAWCMl5EpR5SNIFKUa7A+BFSCi+U85Yx82cR6ldNbinSvaELxF26m/QGyPvYvhGTxmoXTpg/htwpxaiuwr4g4zKTUhQEzH3NYI7B2ig2pF2Pd/5HypZ0oaQ0fXDfa2xLM/OzlYJd3etmU3JCQ9gg3b+QAWMFa5sdDLPCkNkqZjfIJUug4IvGiXHgMQFzK/ecqE1m5Lwk9Olule8+vpDlzkWQeOLQ/nFr/mpxVXnk4ki68g8pFAHWeIhnwQATaWYhr0jJBE8mYN84WgYyeFLn6L/q8O8cp6hFqZT8L/xLxB6pFNl39BYpIsSVVnoCHyQZJso2NBqD9c5WiO4=
  on:
    tags: true
    branch: master
    repo: umidbekkarimov/react-google-map-components

- provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: build
  on:
    branch: master
    repo: umidbekkarimov/react-google-map-components
